@import "antd/dist/reset.css";
@import "tailwindcss";

:root {
  --geist-sans: var(--font-geist-sans), sans-serif;
  --geist-mono: var(--font-geist-mono), monospace;
}

body {
  font-family: var(--geist-sans);
}

.mozilla-headline-main {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}