@import "antd/dist/reset.css";

@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=Geist+Sans&family=Geist+Mono&display=swap');

:root {
  --geist-sans: 'Geist Sans', sans-serif;
  --geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: var(--geist-sans), var(--geist-mono), sans-serif;
}

.mozilla-headline-main {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
}